@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #505050;
    height: 100vh;
}

main {
    display: flex;
    height: 700px;
    width: 500px;
    background-color: gray;
}

div#esq {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
}

div#resultadoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: #000000a0;
}

p#resultado {
    color: white;
}

div#esq > div {
    display: flex;
    justify-content: center;
}

div#dir {
    width: 30%;
    height: 100%;
}

div.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #505050;
    cursor: pointer;
}
